* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand,sans-serif;
}

/* ======== Header CSS ======== */
.dicoding-navbar {
    height: 80px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.dicoding-navbar-col-align-left {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.dicoding-navbar-col-align-right {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

.dicoding-navbar-logo {
    width: 100px;
}

.academy-dropdown {
    margin-left: 20px;
}

.academy-dropbtn {
    font-size: smaller;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.academy-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    transform-origin: top center;
    animation: slideDown 300ms ease-in-out both
}

.academy-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: smaller;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.academy-dropdown-content a:hover {
    background-color: #ddd;
}

.academy-dropdown:hover .academy-dropdown-content {
    display: block;
    opacity: 1;
}

.academy-dropdown:hover .academy-dropbtn {
    background-color: #ddd;
}


/* ======== Content CSS ======== */
.main-background {
    position: absolute;
    height: 300px;
    width: 100%;
    z-index: -1;
    background-color: #033E5E
}


/* ======== Footer CSS ======== */

